* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background-color: #0056b3;
    color: white;
    padding: 20px 0;
  }
  
  header .container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    flex-direction: column;
    text-align: center;
  }
  
  
  header h1 {
    margin: 0;
    float: left;
    text-align: center;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    background: url('images/viagem.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h2 {
    font-size: 3em;
  }
  
  .btn {
    display: inline-block;
    background: #ff6600;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .destinos {
    background-color: #f4f4f4;
    padding: 60px 20px;
  }
  
  .grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .busca-voos, .compra {
    padding: 60px 20px;
  }
  
  .form-voos, .form-compra {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
  }
  
  input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  